@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        color: white;
    }
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
